.services{
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/backgrounds/serv-background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

@media(max-width: 880px) {
    .services{
        background-size: cover;
    }
}

