.about {
	width: 100%;
	position: relative;
	top: -1.9rem;
    z-index: 30;
}

.about ul{
   list-style: none;
   position: relative;
   grid-template-columns: repeat(4, 1fr);
   gap: 2rem;
   justify-content: center;
}

.about li{
    background-color: #fff;
    width: 100%;
    height: 15rem;
    border-bottom: .4rem solid var(--primary-color);
    box-shadow: 0px 0px 10px #ccc;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    text-align: center;
    padding: 1rem;
}

.about img{
    align-self: flex-end;
}

.about h4{
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-medium);
    font-size: 1rem;
    color: var(--black-color);
    display: inline-block;
    align-self: flex-start;
    margin-top: 1rem;
}

.about article{
    margin: 10rem 0;
    width: 100%;
    border-left: 1rem solid var(--primary-color);
    padding: 1rem 25%;
}

@media(max-width: 880px){
    .about ul{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .about article{
        padding: 1rem 15%;
    }
}

@media(max-width: 450px){
    .about ul{
        grid-template-columns: repeat(1, 1fr);
    }

    .about article{
        border-left: .5rem solid var(--primary-color);
        padding: 1rem 2rem;
    }
}