.background{
    background-image: url('../../assets/backgrounds/prod-backgound.png');
    background-color: var(--bg-color-default);
    background-size: cover;
    grid-column: 3/11;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 80%;
}

